<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TEST EJS</title>
  </head>
  <body>
    <h1><%= nama %></h1>
    <h2><%= noKP %></h2>
    <h3><%= gajiElaunTetap %></h3>
    <h3><%= potonganPayslip %></h3>
    <h3><%= peratusPotonganDibenarkan %></h3>
    <h3><%= umurPencen %></h3>
  </body>
</html>
